@import "../variable.scss";
.cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.check {
  line-height: 0.5rem;
  display: flex;
  height: 0.49rem;
  border-top: 0.01rem solid #f1f1f1;
  .check_icon {
    width: 0.84rem;
    position: relative;
    img {
      width: 0.28rem;
      height: 0.26rem;
      display: block;
      margin: 0.12rem auto;
    }
    .check_icon_tag {
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      background-color: $number-fontcolor;
      border-radius: 50%;
      font-size: 0.12rem;
      line-height: 0.12rem;
      text-align: center;
      color: #fff;
      right: 0.2rem;
      top: 0.04rem;
      transform: scale(50%);
      // transform-origin: center top;
    }
  }
  .check_info {
    flex: 1;
    color: #333;
    .check_info_price {
      font-size: 0.12rem;
      color: $number-fontcolor;
      font-size: 0.18rem;
    }
  }
  .check_btn {
    width: 0.98rem;
    background-color: #4fb0f9;
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
  }
}
