@import "../variable.scss";
@import "../mixins.scss";
.cart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.check {
  z-index: 9;
  line-height: 0.5rem;
  display: flex;
  height: 0.49rem;
  border-top: 0.01rem solid #f1f1f1;
  background-color: #fff;
  z-index: 2;
  .check_icon {
    width: 0.84rem;
    position: relative;
    img {
      width: 0.28rem;
      height: 0.26rem;
      display: block;
      margin: 0.12rem auto;
    }
    .check_icon_tag {
      position: absolute;
      width: 0.2rem;
      height: 0.2rem;
      background-color: $number-fontcolor;
      border-radius: 50%;
      font-size: 0.12rem;
      line-height: 0.19rem;
      text-align: center;
      color: #fff;
      right: 0.2rem;
      top: 0.04rem;
      transform: scale(50%);
      // transform-origin: center top;
    }
  }
  .check_info {
    flex: 1;
    color: #333;
    .check_info_price {
      font-size: 0.12rem;
      color: $number-fontcolor;
      font-size: 0.18rem;
    }
  }
  .check_btn {
    width: 0.98rem;
    background-color: #4fb0f9;
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
  }
}

.product {
  overflow-y: scroll;
  flex: 1;
  background-color: #fff;
  border-top: 0.01rem solid #f1f1f1;
  width: 100%;
}
.productItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.12rem 0;
  margin: 0 0.16rem;
  border-bottom: 0.01rem solid #f1f1f1;
  img {
    width: 0.46rem;
    height: 0.46rem;
    margin-right: 0.16rem;
  }
  svg {
    color: #0091ff;
    font-size: 0.25rem;
    margin-right: 0.15rem;
  }
}

.productTitle {
  line-height: 0.2rem;
  font-size: 0.14rem;
  color: #333;
  font-weight: bold;
  margin: 0;
  @include ellipsis;
}

.productPrice {
  margin: 0.06rem 0 0 0;
  line-height: 0.2rem;
  font-size: 0.14rem;
  color: $number-fontcolor;
}

.productPriceYen {
  font-size: 0.12rem;
}
.productPriceOrigin {
  line-height: 0.2rem;
  font-size: 0.12rem;
  color: #999;
  margin-left: 0.06rem;
  text-decoration: line-through;
}

.productNumber {
  position: absolute;
  right: 0;
  bottom: 0.26rem;
}
.productNumber_minus,
.productNumber_plus {
  width: 0.2rem;
  border-radius: 50%;
  height: 0.2rem;
  display: inline-block;
  border: 1px solid #666;
  color: #666;
  font-size: 0.2rem;
  text-align: center;
  line-height: 0.16rem;
}
.productNumber_minus {
  margin-right: 0.08rem;
}
.productNumber_plus {
  background-color: #0091ff;
  color: #fff;
  border-color: #0091ff;
  margin-left: 0.08rem;
}

.productItemDetail {
  overflow: hidden;
}

.productHeader {
  height: 0.52rem;
  display: flex;
  align-items: center;
  margin: 0 0.16rem;
  position: relative;
  svg {
    color: #0091ff;
    font-size: 0.25rem;
    margin-right: 0.15rem;
  }
  span {
    font-size: 0.15rem;
  }
  .clearCart {
    position: absolute;
    right: 0;
    bottom: 0.25rem;
  }
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
