.search {
  line-height: 0.32rem;
  background: #f5f5f5;
  color: #b7b7b7;
  border-radius: 0.16rem;
  font-size: 0.14rem;
  margin-bottom: 0.12rem;
  svg {
    padding: 0 0.04rem 0 0.16rem;
    display: inline-block;
    font-size: 0.16rem;
  }
}
