.top {
  position: relative;
  height: 1.96rem;
  background-size: 100% 1.59rem;
  background-image: linear-gradient(0deg, rgba(0, 145, 255, 0) 4%, #0091ff 50%);
  background-repeat: no-repeat;
  .top_header {
    position: relative;
    padding-top: 0.26rem;
    line-height: 0.24rem;
    color: #fff;
    text-align: center;
    font-size: 0.16rem;
    svg {
      position: absolute;
      left: 0.18rem;
      font-size: 0.3rem;
    }
  }
  .top_receiver {
    position: absolute;
    left: 0.18rem;
    right: 0.18rem;
    bottom: 0;
    height: 1.11rem;
    background-color: #fff;
    border-radius: 0.04rem;
    .top_receiver_title {
      padding: 0.16rem 0 0.14rem 0.16rem;
      font-size: 0.16rem;
      color: #333;
      line-height: 0.22rem;
    }
    .top_receiver_address {
      padding: 0 0.4rem 0 0.16rem;
      font-size: 0.14rem;
      color: #333;
      line-height: 0.2rem;
    }
    .top_receiver_info {
      padding: 0.06rem 0 0 0.16rem;
      .top_receiver_info_name {
        font-size: 0.12rem;
        line-height: 0.18rem;
        color: #666;
        margin-right: 0.16rem;
      }
    }
    svg {
      position: absolute;
      right: 0.16rem;
      top: 0.53rem;
      color: #666;
      font-size: 0.2rem;
      transform: rotate(180deg);
    }
  }
}
